<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <title>Weather App</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    {{>header}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="about-content">
                    <h1>About Us</h1>
                    <p>Be prepared for winter with WeatherBug’s snow forecast. See expected snowfall by hour and track
                        snow depth for the week ahead. Customizable weather alerts let you know when snow is in the
                        forecast. Explore 20 weather maps, including Doppler radar, future radar, air quality,
                        lightning, precipitation, local temperature, wind chill, road forecast and more! From heat index
                        to pollen count, WeatherBug gives you everything you need to know. Our weather widgets let you
                        set alerts and info you want to see on your home screen. Radar weather apps have never been this
                        easy or convenient. Join WeatherBug's millions of users and Know Before® any weather condition.
</p><p>
                        In the market since 2000, WeatherBug gives you and your family reliable weather data. THE
                        WEATHERBUG ADVANTAGE • Spark™ Lightning Alerts Get Dangerous Thunderstorm Alerts & prepare for
                        severe weather conditions • Lightning Maps See lightning strikes in real time and be alerted
                        when lightning is nearby • Professional Weather Network Vast professional grade weather station
                        across the world reporting hyper-local weather conditions in real-time • Animated Weather Maps
                        20 weather maps give you options on what weather conditions you see • International Weather
                        Forecasts Prepare for weather abroad with weather forecasts for over 2.6 million locations
                        worldwide WEATHER NEWS FOR YOU • Weather News News alerts and featured videos about local
                        conditions & global events • Weather Data Customization Rearrange weather tiles to your liking •
                        Weather Conditions Real-time weather conditions • Weather Forecasts Reliable & detailed hourly &
                        10-day forecasts • Wind Forecast See how windy conditions will be throughout the day WEATHER
                        ALERTS • Weather Notifications Receive alerts for your preferred locations • Severe Weather
                        Alerts Get severe weather alerts from WeatherBug, NWS & NOAA (USA) NMS (UK and DE) and SMN (MX)
                        • Real-Time Precip Alerts Get notified when rain or snow is expected in the next 15 minutes AIR
                        QUALITY, HEAT, WILDFIRES • Weather Details Get UV Index, wind speeds & weather observations •
                        Fire Global wildfire data to know when you are at risk • Air Quality Get a weather app and air
                        quality app in one with an in-depth look at the air quality around you • Pollen Count Local &
                        national pollen count & data WEATHER CUSTOMIZATION •Weather Widgets Add weather information to
                        your home screen with weather widgets • Multi-language Support English, Spanish, Portuguese,
                        German, French & Japanese • Temperature Units Fahrenheit (°F), Celsius (°C) • Wind Units MPH,
                        KPH, Knots & MPS • Pressure Units Inches & millibars COMMUTER • Road Forecast Know when weather
                        conditions will impact your commute with live road conditions • Weather Cameras View live
                        weather cameras for your commute • Traffic Cameras Live stream traffic cameras along your route
                        Commuter Alerts Be alerted when weather impacts road conditions RADAR WEATHER MAPS • Weather Map
                        Explore weather conditions, temperature, pollen levels & more with doppler radar & interactive
                        maps • Severe Storm Risk Know when convective weather is expected to hit. Storm radar shows
                        severe storms, tornados, hail & high winds HURRICANE TRACKER • Hurricane Tracking Track
                        hurricanes. View location, speed, and direction of approaching hurricanes • Hurricane News Read
                        the latest hurricane news to stay safe and prepared CONNECT WITH US • Like us on Facebook
                        https://www.facebook.com/WeatherBug • Follow us on Twitter @WeatherBug • Check us out on
                        Instagram @weatherbug This app may include "Interest-Based Ads"
                        (https://www.weatherbug.com/legal/privacy) for more information) and may collect or share
                        "Precise Location Data" (https://www.weatherbug.com/legal/privacy for more information)</p>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>